.table {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.green {
    background: green;
    color: white;
}